.body{
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 193, 180);

}
.div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 200px;
    height: 200px;
}